.homepage {
    height: calc(100vh - 3rem - 5rem);

    padding-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5rem;
}

.text {
    & h1 {
        padding-bottom: 2rem;
        text-align: center;
    }

    & h2 {
        text-align: center;
    }
}

@media (width >= 48em) {
    .homepage {
        padding-top: 4rem;

        flex-direction: row;
        column-gap: 6rem;
    }

    .text {
        width: 50%;

        padding-top: 3rem;
    }
}
